{% extends 'layout.html.twig' %}

{% set active = 'disciplinas' %}

{% block content %}
    <h1>{{ 'Adicionar Disciplina'|trans }}</h1>
    {{ form(form, { attr: { novalidate: true } }) }}
{% endblock %}
